<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    <title>Área para alunos</title>
     <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    <link style="border-radius: 100%;" rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREAH6eVwmFf9yp-c_0dg4H9Rxe2GsxXGk-cQ&s">
    <link rel="stylesheet" href="/ProfAdriel/styles/style.css">
    <link rel="stylesheet" href="/ProfAdriel/styles/media.css">

</head>
<body> 
     <header>
        <div class="btm-menu">      
            <i id="icon-menu" class="material-symbols-outlined" onclick="clickMenu()">menu</i>
        </div>        
        <a href="index.html">  <img style="border-radius: 100%;" width="20%"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREAH6eVwmFf9yp-c_0dg4H9Rxe2GsxXGk-cQ&s"
                alt="img"></a>
        <p>Prof. Adriel Medeiros</p>
        <nav id="mostrar" class="nav">
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/ProfAdriel/templates/professores.html">Professores</a></li>
                <li><a href="/ProfAdriel/templates/alunos.html">Alunos</a></li>
                <li><a href="/ProfAdriel/templates/sobre.html">Sobre</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <section class="boasvindas_aluno">
            <h1>Área do aluno</h1>
            <br>
            <p>Espaço reservado para compatilhar atividades, ideias, dicas e muito mais!</p>
        </section>

        <section class="quadroaviso">
            <h3>Quadro de avisos:</h3><br>
            <div style="border-radius: 8px; box-shadow: 5px 5px 5px grey;; width: auto; height: auto; border: 3px solid yellow; padding: 1rem; background-color: rgb(2, 59, 2);">
                <p>* Todos os avisos importantes serão postos aqui Avisos:</p><br><br>
                <br><br><br><br><br>
            </div>
        </section>
    </main>
    <footer>
        <a href="https://www.youtube.com/@AthelstanINFO"><img  width="5%" src="/ProfAdriel/imagens/logoYT.png" alt=""></a>
        <a href="https://github.com/Adrielmedeiros01"><img width="5%"  src="/ProfAdriel/imagens/logoGit.png" alt=""></a>
        <p>@COPY2025-2026 A.M</p>
    </footer>
    <script src="/ProfAdriel/script/script.js"></script>
</body>
</html>
