<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Para Professores</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    <link style="border-radius: 100%;" rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREAH6eVwmFf9yp-c_0dg4H9Rxe2GsxXGk-cQ&s">
    <link rel="stylesheet" href="/ProfAdriel/styles/style.css">
    <link rel="stylesheet" href="/ProfAdriel/styles/media.css">
</head>
<body>
    <header>
        <div class="btm-menu">      
            <i id="icon-menu" class="material-symbols-outlined" onclick="clickMenu()">menu</i>
        </div>        
        <a href="index.html">  <img style="border-radius: 100%;" width="20%"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREAH6eVwmFf9yp-c_0dg4H9Rxe2GsxXGk-cQ&s"
                alt="img"></a>
        <p>Prof. Adriel Medeiros</p>
        <nav id="mostrar" class="nav">
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/ProfAdriel/templates/professores.html">Professores</a></li>
                <li><a href="/ProfAdriel/templates/alunos.html">Alunos</a></li>
                <li><a href="/ProfAdriel/templates/sobre.html">Sobre</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="boasvindas_prof">
            <h1>Área para professores</h1>
            <br>
            <p>Espaço reservado para compatilhar tudo sobre o meio educacional e tecnologico</p>
            <br><br>
        </section>

        <article>
            <h2 style="text-align: center;">Meu primeiro Artigo</h2><br>
            <p>Escreva aqui seus paragrafos Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, pariatur natus saepe voluptatibus nemo provident recusandae quisquam repudiandae nobis. Nostrum tenetur itaque nihil iure omnis. Libero accusantium veniam facilis perspiciatis?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi corrupti, quibusdam non quasi facere quo consectetur rerum incidunt saepe porro nemo repellat libero voluptate sunt eos natus voluptatibus accusantium alias!</p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, ea asperiores vitae inventore suscipit, fugiat incidunt quibusdam ex fugit eaque sit porro commodi quis molestias blanditiis non deserunt! Quis, hic?
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero dolor dolores nostrum autem sed sapiente, reiciendis eum quos itaque quia magni atque natus in aut, officia earum non voluptates voluptas!</p>
            <p>Fontes:</p>
        </article>
    </main>
    <footer>
        <a href="https://www.youtube.com/@AthelstanINFO"><img  width="5%" src="/ProfAdriel/imagens/logoYT.png" alt=""></a>
        <a href="https://github.com/Adrielmedeiros01"><img width="5%"  src="/ProfAdriel/imagens/logoGit.png" alt=""></a>
        <p>@COPY2025-2026 A.M</p>
    </footer>
    <script src="/ProfAdriel/script/script.js"></script>
</body> 
</html>

