<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    <link style="border-radius: 100%;" rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREAH6eVwmFf9yp-c_0dg4H9Rxe2GsxXGk-cQ&s">
    <link rel="stylesheet" href="/ProfAdrielMedeiros/ProfAdriel/styles/style.css">
    <link rel="stylesheet" href="/ProfAdrielMedeiros/ProfAdriel/styles/media.css">
</head>
<body>
    <header>
        <div class="btm-menu">      
            <i id="icon-menu" class="material-symbols-outlined" onclick="clickMenu()">menu</i>
        </div>        
        <a href="index.html">  <img style="border-radius: 100%;" width="20%"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREAH6eVwmFf9yp-c_0dg4H9Rxe2GsxXGk-cQ&s"
                alt="img"></a>
        <p>Prof. Adriel Medeiros</p>
        <nav id="mostrar" class="nav">
            <ul>
                <li><a href="/ProfAdrielMedeiros/index.html">Home</a></li>
                <li><a href="/ProfAdrielMedeiros/ProfAdriel/templates/professores.html">Professores</a></li>
                <li><a href="/ProfAdrielMedeiros/ProfAdriel/templates/alunos.html">Alunos</a></li>
                <li><a href="/ProfAdrielMedeiros/ProfAdriel/templates/sobre.html">Sobre</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div r style=" display: flex; justify-content: center; align-items: center">
            <a href=""> <img width="200px" style="margin-top: 8rem;" src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" alt="Imagem">
            </a>
        </div>
        <br><br>
        <h1 style="text-align: center;">Informações do Professor</h1>
        <br><br><br>
        <article class="info_prof">
            <ul>
                <li><b>Nome:</b> Adriel Medeiros de Araújo</li><br>
                <li><b>Formação:</b> <br><br> - Técnico em Informática pelo Instituto Federal de Ciência e Tecnologia da Paraíba (2024). <br><br>
                - Licenciando em Computação pelo  Instituto Federal de Ciência e Tecnologia de Pernambuco (Em andamento...).
                </li><br>
                <li><b>Currículo Lattes: </b> ... </li><br>
                <li><b>E-mail:</b> adrielmedeirosaraujo@gmail.com</li><br>
            </ul>
        </article>
    </main>
     <footer>
        <a href="https://www.youtube.com/@AthelstanINFO"><img  width="5%" src="/ProfAdrielMedeiros/ProfAdriel/imagens/logoYT.png" alt=""></a>
        <a href="https://github.com/Adrielmedeiros01"><img width="5%"  src="/ProfAdrielMedeiros/ProfAdriel/imagens/logoGit.png" alt=""></a>
        <p>@COPY2025-2026 A.M</p>
    </footer>
    <script src="/ProfAdrielMedeiros/ProfAdriel/script/script.js"></script>
</body>
</html>
