
body {
    margin: 0;
   
}


/*INDEX--------------------------------------*/

header {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: black;
    color: white;
}
.btm-menu {        
    display: none;
    width: auto; 
    cursor: pointer;      
}
.btm-menu.ativo {          
    display: block;
}      
#icon-menu {     
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    color: white;                        
}
nav li {
    display: inline;
    margin: 10px;
}
nav a{
    text-decoration: none;
    color: white;
}
.boasvindas {
    width: 80%;
    margin: 20% auto;
    margin-top: 4rem;
    margin-bottom: 1rem;
    height: 45rem;
    text-align: center;
}
.imagemPrincipal {
    border-radius: 10px;
    border: solid 0.5px;
    box-shadow: 5px 5px 10px grey;
}
footer {
    text-align: center;
    padding: 1rem;
}

/*SOBRE--------------------------------------*/


.info_prof {
    width: 80%;
    margin: 20% auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 20rem;
}


/*ALUNO--------------------------------------*/

.boasvindas_aluno {
    width: 80%;
    margin: 20% auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}

.quadroaviso {
    color: white;
    width: 80%;
    margin: 20% auto;
    margin-top: 0;

}


/*PROFESSORES--------------------------------------*/

.boasvindas_prof {
    width: 80%;
    margin: 20% auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}
